
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}

.btn-action {
    text-align: center;
    width: 47px;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
