body {
    background-color: #f4f6f9;
}

.navbar-nav > .user-menu > .dropdown-menu {
    margin: 0;
}

.no-admin {
    background: transparent;
    margin-left: 0;
}

// dev site message
.dev-badge {
    background: #c00;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: right;
}
.dev-badge a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
.dev-badge a:hover {
    color: #fff;
    text-decoration: underline;
}

.card-title {
    margin-bottom: 0;
    padding-top: 6px;
}

.error-content {
    padding-top: 15px;
}

// Transiciones
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}
.slide-enter-active, .slide-leave-active {
    transition: opacity 1s, transform 1s;
}
.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(-30%);
}


.tab-content {
    > .active:focus {
        outline: none;
    }
}

.sidebar-light-primary {
    .nav-sidebar {
        > .nav-item {
            > .nav-link{
                &.active {
                    background-color: #2A4A7F;
                }
            }
        }
    }
}

#nprogress {
    .bar {
        z-index: 1040;
    }
}

.text-light-blue {
    color: #17a2b8;
}

// Scrollbar
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgba(21, 21, 21, 0.4);
}

.register-page {
    height: 100%;
    .register-box {
        width: 420px;
    }
}

.bg-authorized {
    background-color: #e6ffec !important;
    color: #000000 !important;
}
.bg-refused {
    background-color: #ffeced !important;
    color: #000000 !important;
}

.login-box {
    margin: 0 auto;
    @media (max-width: 360px) {
        width: 100%;
        form {
            min-width: 285px;
        }
    }
}

.login-box, .main-container {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}