// Modals
.modal-open {
    .modal-backdrop {
        background-color: rgb(0, 0, 0);
        &.show {
            opacity: 0.5;
        }
    }
    .modal-content {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .modal {
        padding-right: 0 !important;
        overflow-y: hidden !important;
        .modal-body {
            overflow-y: auto;
        }
    }
    padding-right: 0 !important;
    .dev-badge, .main-header, .main-sidebar, .content-wrapper, .main-footer {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
}

// swal2
body.swal2-shown {
    padding-right: 0 !important;
    .dev-badge, .main-header, .main-sidebar, .content-wrapper, .main-footer {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
}
.swal2-container {
    .swal2-confirm.btn-primary {
        margin-right: 10px;
    }
    &.swal2-shown {
        background-color: rgba(0, 0, 0, 0.5) !important;
        .swal2-modal {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
        }
    }
}